body {
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
  }
  
  .background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 400px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    text-align: center;
    font-size: 48px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .login {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
  }
  
  .login:hover {
    background-color: red;
  }

  .back{
    display: block;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
  }
  .back:hover {
    background-color: red;
  }
  